#help-open-button {
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 1000;
}

#help-modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  animation: transform 0s none;
  margin: auto;
  border: 1px solid white;

  .content {
    min-height: 233px;

    .title {
      font-size: 20px;
      text-align: center;
      font-weight: bolder;

      border-bottom: 1px solid;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }

    .message {
      padding: 20px;
      font-size: 110%;
      border-bottom: 1px solid;
      padding-bottom: 30px;
      margin-bottom: 10px;
    }
  }

  .actions {
    background: transparent;
  }
}

.project-details {
  display: flex;
  padding: 20px;

  & > * {
    width: 40%;

    &.repo {
      margin-left: 10%;
    }

    &.author {
      margin-right: 10%;
    }
  }

  .avatar {
    display: flex;
    padding-bottom: 10px;

    img {
      height: 20px;
    }

    p {
      line-height: 20px;
      padding-left: 10px;
    }
  }

  .type {
    border-bottom: 1px solid gray;
  }
}
