#image-picker-buttons {
  display: flex;
  justify-content: space-evenly;

  .button {
    height: 50px;
  }

  .form {
    width: 45%;

    .btn-file {
      width: 100%;
      color: white;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 4px;
      margin-top: -3px;
      padding: 0 !important;
      justify-content: center;
      transition: all 1s;

      &:hover {
        background-color: white;
        color: black;
      }

      .icon {
        display: none;
      }
    }
    #upload_progress {
      margin-top: 4px !important;

      .bar {
        background-color: white;
        height: 4px;
      }

      .label {
        color: white;
      }
    }
    input[type=text] {
      display: none;
    }
  }

  button {
    width: 45%;
  }
}

#download-message {
  position: absolute;
  right: 20px;
  top: -25px;
  font-size: 130%;
  font-weight: bolder;
}
