.ui.disabled.image {
  opacity: 1 !important;
  cursor: pointer;
}

.ui.raised.segment.active {
  background: linear-gradient(64deg, #fff 43%, #0199f9 100%);
}

.ui.teal.ribbon.label {
  font-size: 20px;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px 0 50px;
  padding: 20px;
  box-shadow: 0 0 20px 0px;
  position: relative;
}

#reset {
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  margin: 0;
  font-size: 3rem !important;
  i {
    margin: 0;
  }
}

.ui.button.positive {
  background-color: #00b5ad !important;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    cursor: pointer;
  }
}
